\#*
*.elc
/eln-cache
/.persistent-scratch
/projectile-bookmarks.eld
/projectile.cache
auto-save-list/
cache/
elpa/
history
package-quickstart.el
persistent-scratch/
recentf
straight/
transient/
var/
etc/
