# Ignore everything by default.
*

# Add back items as needed.

# Config - include base ~/.config and every file in its root, but not dirs unless explicit.
!.config/
!.config/*
.config/*/
# .config/**/

# bash
!.bash_profile
!.bashrc

# doom
!.config/doom
!.config/doom/*

# fish
!.config/fish
!.config/fish/**
fish_variables
fisher/
#!.config/fish/**/*

# git
!.gitignore
!.github/
!.github/**

# npm
!.config/npm
!.config/npm/*

# nvim
!.config/nvim
!.config/nvim/**

# powershell
!.config/powershell
!.config/powershell/*

# readline
!.config/readline
!.config/readline/*

# screen
!.config/screen
!.config/screen/*

# starship
!.config/starship
!.config/starship/*

# tmux
!.config/tmux
!.config/tmux/*

# todo-txt
!.config/todo-txt
!.config/todo-txt/*

# vim
!.vimrc
!.config/vim/
!.config/vim/*

# wget
!.config/wget
!.config/wget/*

# zsh
!.zshenv
!.config/zsh
!.config/zsh/**

# final
*_history*
.DS_Store

