[user]
	name = Matt McElheny
	email = mattmc3@gmail.com
[core]
	excludesfile = /Users/mmcelheny/.config/git/ignore
	editor = subl -nw
	fileMode = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	template = /Users/mattmcelheny/.stCommitMsg
[merge]
	tool = opendiff
[alias]
	branches = !legit branches
	publish = !legit publish
	unpublish = !legit unpublish
	sync = !legit sync
	switch = !legit switch
	resync = !legit resync
	undo = !legit undo
