# sublime text
# Package Control stuff
apps/sublime-text/oscrypto-ca-bundle.crt
apps/sublime-text/Package\ Control.user-ca-bundle
apps/sublime-text/Package\ Control.merged-ca-bundle
apps/sublime-text/Package\ Control.last-run
apps/sublime-text/Package\ Control.ca-list
apps/sublime-text/Package\ Control.ca-bundle
apps/sublime-text/Package\ Control.system-ca-bundle
apps/sublime-text/Package\ Control.cache/
apps/sublime-text/Package\ Control.ca-certs/

# stuff that contains secrets that should never go into a vcs
apps/sublime-text/Side\ Bar.sublime-settings
apps/sublime-text/SQLTools.sublime-settings
apps/sublime-text/SQLToolsConnections.sublime-settings
apps/sublime-text/SQLToolsSavedQueries.sublime-settings
apps/sublime-text/GitHub.sublime-settings
