alabaster==0.7.10
appdirs==1.4.3
appnope==0.1.0
args==0.1.0
Babel==2.5.1
beautifulsoup4==4.6.0
bkcharts==0.2
bleach==2.1.1
bokeh==0.12.10
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
clint==0.5.1
cloudpickle==0.4.0
colorcet==0.9.1
cycler==0.10.0
dask==0.15.4
datashader==0.5.0
datashape==0.5.2
decorator==4.1.2
Django==1.11.6
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
Flask==0.12.2
gitdb2==2.0.0
github3.py==0.9.6
GitPython==2.1.1
gnureadline==6.3.8
HeapDict==1.0.0
html5lib==1.0b10
idna==2.6
imagesize==0.7.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
itsdangerous==0.24
jdbc-config==1.0.0
jdcal==1.3
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
legit==0.4.1
llvmlite==0.20.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.7.4
msgpack-python==0.4.8
multipledispatch==0.4.9
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nose==1.3.7
notebook==5.2.0
numba==0.35.0
numpy==1.13.3
odo==0.5.0
olefile==0.44
openpyxl==2.4.9
packaging==16.8
pandas==0.20.3
pandas-profiling==1.4.0
pandocfilters==1.4.2
parso==0.1.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
pip-autoremove==0.9.0
prompt-toolkit==1.0.15
psutil==5.4.0
psycopg2==2.7.3.1
ptyprocess==0.5.2
py==1.4.34
pyarrow==0.7.1
pycommon==1.0.0
pyfigurine==0.0.1
PyGithub==1.35
pygithub3==0.5.1
Pygments==2.2.0
PyJWT==1.5.3
pymssql==2.2.0.dev0
PyMySQL==0.7.11
pyodbc==4.0.18
pyparsing==2.2.0
pyperclip==1.5.27
pyserial==3.4
pytest==3.2.3
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
smmap2==2.0.1
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
Sphinx==1.6.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.14
tblib==1.3.2
terminado==0.6
testpath==0.3.1
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
typing==3.6.2
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.6
xarray==0.9.6
zict==0.1.3
